<header>
    <h1>header</h1>
</header>
<main>
    <h3> ¿Qué es una pàgina web? </h3>
    <p> Pàgina web és un document del Una web (World Wide Web), normalment en format HTML/XHTML i amb q1 de fitxer .html o u.htm. El seu contingut és hipertext amb hipervincles per facilitar la navegació d'una pàgina o secció a una altra?
    </p>
    <p>Les pàgines web poden ser obtingudes o bé d'un ordinador local o bé d'un servidor remot. El servidor web pot restringir l'accés a una xarxa privada, p. ex. la intranet d'una empresa. O pot estar disponible a tota la World Wide Web. Les pàgines web
        es demands i s'envien mitjançant el <a href="/wiki/HTTP" title="HTTP"> Transfer Protocol (HTTP)?</a>the</p>
    <p>Quan naveguem per Internet, les pàgines web s'envien des de servidors situats a milers de quilòmetres i ens arriben en tan sols dècimes de segon i sense perdre continguts. Això es produeix gràcies al fet que l'HTML és un llenguatge que s'ha orientat
        a la transmissió de documents mitjançant el protocol HTTP (protocol de transmissió d'hipertext), que és el que utilitzen els ordinadors per enviar i rebre documents a través d'Internet.</p>
    <p>Les pàgines web sovint fan servir fitxers d'imatge per mostrar il·lustracions, i aquestes també poden ser hipervincles. Un usuari pot veure una pàgina web amb un navegador web.</p>
    <p>En català, el mot <i>web</i>, quan s'utilitza com a substantiu, equivalent de l'anglès <i>Wide Web</i> , és masculí, com ha quedat fixat pel TermCat de l'Institut d'Estudis Catalans: el web.[1] Així mateix, i com és lògic, és masculí (<i>web</i>)
        si es refereix a un lloc web, i femení (la web) si es refereix a una pàgina web.</p>

    <h3>Elements d'una pàgina web</h3>

    <p>Una pàgina web pot contenir <a href="/wiki/Categoria:Formats_de_fitxer_d%27imatge" title="Categoria:Formats de fitxer d'imatge"> enllaços</a> o incorporar els següents elements:
    </p>
    <ul>
        <li>Text</li>
        <li>
            <a href="/wiki/Categoria:Formats_de_fitxer_d%27imatge" title="Categoria:Formats de fitxer d'imatge">Fitxers d'imatge </a> (
            <a href="/wiki/Png" title="Png">Png </a> ,
            <a href="/wiki/Gif" title="Png">Gif </a> ,
            <a href="/wiki/Jpeg" title="Png">Jpeg </a> )
        </li>
        <li>Jpeg (
            <a href="/w/index.php?title=Mid&action=edit&redlink=1" title="Mid (encara no existeix)">mid </a> o

            <a href="/wiki/Wav" title="Wav">wav</a> )

        </li>
        <li>contingut
            <a href="https://ca.wikipedia.org/wiki/Multimèdia" title="Multimèdia">multimèdia</a> que requereixi l'ús de
            <a href="https://ca.wikipedia.org/wiki/Connector_(aplicació_informàtica)" title="Connector (aplicació informàtica)">connectors</a>
        </li>
    </ul>
    <p>També poden contenir elements que no es veuen al navegador:</p>
    <ul>
        <li>
            <a href="https://ca.wikipedia.org/wiki/Guió_(signe_de_puntuació" title="Guió (signe de puntuació)">Guions</a> (en anglès: <i>script</i>) normalment
            <a href="https://ca.wikipedia.org/wiki/JavaScript" title="JavaScript"></a>, que afegeixen funcionalitats a la pàgina
        </li>
        <li>Etiquetes meta, que són contingut ocult amb informació sobre la pàgina, instruccions per a robots de cerca, etc.</li>
        <li>
            <a href="https://ca.wikipedia.org/wiki/Cascading_Style_Sheets" title="CSS">CSS</a> (
            <i>Cascading Style Sheets</i> ) que determina el format de la pàgina
        </li>
        <li>Comentaris</li>
    </ul>
    <p>Les pàgines web poden ser més grans que la finestra del navegador web. Sovint són més llargues verticalment i requereixen l'ús de barres de desplaçament. Algunes pàgines tenen contingut a la dreta que no seria visible en finestres petites sense desplaçament
        horitzontal. Les pàgines dissenyades per ser desplaçades horitzontalment són menys comunes, entre altres raons per la dificultat d'imprimir-les correctament o el fet que els visitants les troben inconvenients.
    </p>
    <p>Una pàgina web pot ser també un conjunt de marcs (en anglès: frameset, codi html:
        <frameset>). Cada un d'aquests marcs conté una pàgina web individual. La seva utilitat és mantenir part del contingut (normalment un menú de navegació) sempre visible mentre altres continguts poden ser desplaçats. Aquest efecte també es pot aconseguir fent
            servir CSS i en cas de ser necessari es recomana fer servir aquest segon mètode.
    </p>
    <p>Un lloc web és una col·lecció de pàgines web emmagatzemades en un directori o entre directoris relacionats d'un servidor web. Cada lloc web inclou una pàgina índex. Aquest és un fitxer amb un nom especial, normalment index.html o similar, que és definit
        a la configuració del servidor web. Quan un visitant requereix una adreça web URL que no inclou una pàgina (per exemple: www.exemple.cat) el servidor web retornarà la pàgina índex a aquest usuari. Si no existeix aquesta pàgina índex, el visitant
        veurà una llista amb el contingut del directori, o una pàgina d'error (depenent de la configuració del servidor).
    </p>
    <p>Una consideració al dissenyar i provar pàgines web és que aquestes haurien de complir les recomanacions per la correcció d'HTML, CSS i altres estàndards definits pel World Wide Web Consortium. Aquests existeixen per mantenir el web lliure i disposable
        per a tothom. Si un dissenyador web segueix aquests estàndards el seu lloc web serà adequat per molts navegadors diferents, amb resolucions de pantalla diferents i accessible per gent amb deficiències visuals. El "target" d'audiència, la manca
        de pressupost o el desconeixement dels problemes d'accessibilitat sovint són la causa de què un lloc web no sigui tan accessible com podria ser. Fer servir capacitats que només funcionen en un navegador sense posar a l'abast cap contingut alternatiu
        és considerat una mala pràctica; el World Wide Web Consortium treballa amb els dissenyadors de navegadors i servidors web per desenvolupar estàndards i per encoratjar el seu compliment.
    </p>


</main>
<footer>
    <h2>footer</h2>
</footer>